---
- name: Install Docker and Docker Compose (docker.io)
  ansible.builtin.apt:
    name:
      - docker.io
      - docker-compose
    state: present
    update_cache: yes
  become: yes

- name: Enable and start Docker
  ansible.builtin.service:
    name: docker
    state: started
    enabled: yes
  become: yes