version: '3.8'

services:
  postgresql:
    image: docker.io/library/postgres:16-alpine
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -d $${POSTGRES_DB} -U $${POSTGRES_USER}"]
      interval: 30s
      timeout: 10s
      retries: 5
    volumes:
      - authentik_db:/var/lib/postgresql/data
    environment:
      POSTGRES_PASSWORD: "{{ authentik_pg_password }}"
      POSTGRES_USER: authentik
      POSTGRES_DB: authentik
    networks:
      - authentik_net

  redis:
    image: docker.io/library/redis:7-alpine
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "redis-cli ping | grep PONG"]
      interval: 30s
      timeout: 10s
      retries: 5
    volumes:
      - authentik_redis:/data
    networks:
      - authentik_net

  server:
    image: ghcr.io/goauthentik/server:2024.10.1
    restart: unless-stopped
    command: server
    environment:
      AUTHENTIK_REDIS__HOST: redis
      AUTHENTIK_POSTGRESQL__HOST: postgresql
      AUTHENTIK_POSTGRESQL__USER: authentik
      AUTHENTIK_POSTGRESQL__NAME: authentik
      AUTHENTIK_POSTGRESQL__PASSWORD: "{{ authentik_pg_password }}"
      AUTHENTIK_SECRET_KEY: "{{ authentik_secret_key }}"
    volumes:
      - ./media:/media
      - ./custom-templates:/templates
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - "9000:9000"
      - "9443:9443"
    networks:
      - authentik_net

  worker:
    image: ghcr.io/goauthentik/server:2024.10.1
    restart: unless-stopped
    command: worker
    environment:
      AUTHENTIK_REDIS__HOST: redis
      AUTHENTIK_POSTGRESQL__HOST: postgresql
      AUTHENTIK_POSTGRESQL__USER: authentik
      AUTHENTIK_POSTGRESQL__NAME: authentik
      AUTHENTIK_POSTGRESQL__PASSWORD: "{{ authentik_pg_password }}"
      AUTHENTIK_SECRET_KEY: "{{ authentik_secret_key }}"
    volumes:
      - ./media:/media
      - ./custom-templates:/templates
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - authentik_net

volumes:
  authentik_db:
    driver: local
  authentik_redis:
    driver: local

networks:
  authentik_net:
    driver: bridge