- name: Read .env file content
  ansible.builtin.slurp:
    src: "{{ process_directory }}/.env"
  register: env_file_content

- name: Decode .env content
  ansible.builtin.set_fact:
    decoded_env_content: "{{ env_file_content.content | b64decode }}"

- name: Convert .env into key/value dict manually
  ansible.builtin.set_fact:
    env_vars: >-
      {{
        dict(
          decoded_env_content.splitlines()
          | select("match", "^[A-Za-z0-9_]+=.*")
          | map("split", "=", 1)
        )
      }}

- name: Extract {{ token_name }}
  ansible.builtin.set_fact:
    "{{ token_name }}": "{{ env_vars[token_name] }}"

- debug:
    msg: "Success! Variable {{ token_name }} is set to: {{ lookup('vars', token_name) }}"
