- name: Read .env file content
  ansible.builtin.slurp:
    src: /opt/authentik/.env
  register: env_file_content

- name: Decode .env content
  ansible.builtin.set_fact:
    decoded_env_content: "{{ env_file_content.content | b64decode }}"

- name: Convert .env into key/value dict manually
  ansible.builtin.set_fact:
    env_vars: >-
      {{
        dict(
          decoded_env_content.splitlines()
          | select("match", "^[A-Za-z0-9_]+=.*")
          | map("split", "=", 1)
        )
      }}

- name: Extract AUTHENTIK_BOOTSTRAP_TOKEN
  ansible.builtin.set_fact:
    authentik_api_token: "{{ env_vars.AUTHENTIK_BOOTSTRAP_TOKEN }}"

- debug:
    msg: "AUTHENTIK_BOOTSTRAP_TOKEN: {{ authentik_api_token }}"
